[submodule "djot.js"]
	path = djot.js
	url = https://github.com/jgm/djot.js.git
[submodule "djoths"]
	path = djoths
	url = https://github.com/jgm/djoths.git
[submodule "djot"]
	path = djot
	url = https://github.com/jgm/djot.git
